#root {
  margin: 0;
}

body {
  margin: 0;
}

#tsparticles canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/564x/68/7b/28/687b287b0f3bf8b0ab1086dc92ffeb0e.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;


  /* Mobile background image */
@media only screen and (max-width: 600px) {
  #tsparticles canvas {
    background-image: url("https://i.pinimg.com/564x/26/3a/25/263a254058a96fdb56a642afb36e5c57.jpg");
  }
}

/* Tablet background image */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  #tsparticles canvas {
    background-image: url("https://i.pinimg.com/564x/f7/a8/9d/f7a89ddb7fc4dfe1dd704f0c51a5b0f5.jpg");
  }
}

/* Desktop background image */
@media only screen and (min-width: 1025px) {
  #tsparticles canvas {
    background-image: url("https://i.pinimg.com/564x/21/ed/4d/21ed4d8e23a12d41897b4d0f97f2bf3c.jpg");
  }
}
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

